commands.txt
/docker-monolith/infra/packer/variables.json
/packer/variables.json
*.tfstate.*.backup
*.tfstate.backup
*.tfstate
*.tfvars
.terraform/
/ansible/service_account.json
*.retry
vault.key
.env
otus_microservices.code-workspace
.pre-commit-config.yml
gce-service-account.json
vault.key
gce.py
gce.ini
__pycache__
.venv
*.pyc
.env
.DS_Store
/kubernetes/ansible
.vscode
kubernetes/Gitlab_ci
